@model Vidla.ViewModels.MoviesIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>

<a href="@Url.Action("New", "Movies")" class="btn btn-primary">New Movie</a>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Movie Name</th>
            <th>Genre</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {
        <tr>
            <td>
                <a href="@Url.Action("Edit","Movies", new { id = movie.Id })">@movie.Name</a>
            </td>
            <td>
                @movie.Genre.Name
            </td>
        </tr>
        }

    </tbody>
</table>

